img.logoab{
    width: 175px;
    padding-left: 45%;
}
nav{
    width: 100%;
    text-align: center;
}
nav ul{
    background-color: navy;
    width: 100%;
}
nav ul li {
    display: inline-block;
    margin: 20px;
    line-height: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16pt;
}
nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}
nav.sticky{
  position: fixed;
  top: 0;
  display: fixed;
  z-index: 100;
}
.head1{
    text-transform: uppercase;
    font-size: 46pt;
    text-align: center;
    color:rgb(17, 17, 58) ;
}

/* login-form  */
h1.log-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin-bottom:60px ;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
  
}

.log-header::after{
    content: ' ';
    background: #303ef7;
    width: 100Px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.log-form{
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    left: 750px;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: rgb(237, 237, 237);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .log-form h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
   
  }
  .log-form form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .text-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #1b087c;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  

  .card-section{
    padding: 25px 15px;
    padding-bottom: 100px;
  }
  .card-section .heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase ;
    color:rgb(17, 17, 58);

  } 
  .card-section .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 15px;
  }
  .card-section .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    border-radius: 5px;
    background: #e5eafa;
    text-align: center;
    padding: 30px 20px;
    position: relative;
  }
  .card-section .box-container .box img{
    height: 200px;
    
  }
  .card-section .box-container .box h2{
    top: 100px;
    left: 180px;
    font-size: 35px;
    color: rgb(17, 17, 58);
  }
  .card-section .box-container .box .btn{
    text-decoration: none;
    margin-top: 10px;
    padding: 8px 15px;
    display: inline-block;
    background-color: navy;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
  }
  footer{
    margin-top: 75px;
  bottom: 0px;
  width: 100%;
  background: rgb(20, 20, 144);
  font-family: 'Poppins', sans-serif;
}
.content li {
  list-style: none;
  line-height: 30px;
}
.content a{
text-decoration: none;
color: #f1f1f1;
}
.content a:hover{
  font-size: 20px;

}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  color: silver;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #afb5bd;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #c7c2e5;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #a19999;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #dbd5d5;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #dbe0e7;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #e3e4ef;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone{
  margin: 15px 0;
}
.place .text{
  color:silver
}
.phone .text{
  color:silver
}
.email .text{
  color:silver
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #c6baba;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #cac2c2;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3aa9d5;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #94a9e1;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(230, 223, 223);
}
.bottom center{
  padding: 5px;
  font-size: 12px;
  background: #151515;
}
.bottom center span{
  color: #ffffff;
}
.bottom center a{
  color: #92aee3;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}